@media screen and (max-width: 390px) and (max-height: 844px) {
    .container-principal{
        width: 90vw;
        height: 80vh;
        background-color: #1f1f1f;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }



}