@media screen and (max-width: 415px) and (max-height: 900px) {
  .container-modal-cadastro{
    height: 70vh;
    width: 100vw;
   
}
}


@media screen and (max-width: 390px) and (max-height: 844px) {
  .container-modal-cadastro{
    height: 70vh;
    width: 100vw;
   
}
}