.background-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1f1f2e, #121212);
    font-family: 'Arial', sans-serif;
  }
  .container-principal{
    width: 30vw;
    height: 60vh;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }