.form-container-login{
    background-color: #1f1f1f;
    padding: 20px; /* Reduzi o padding */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50vh; /* Largura compacta */
    height: 100vh /* Ajusta altura para caber os campos */
}
.client-form-login .form-group {
    margin-bottom: 10px; /* Menor espaçamento entre os campos */
  }
  
  .client-form-login label {
    margin-top: 50px;
    display: block;
    margin-bottom: 5px;
    color: #b0bec5;
    font-size: 12px; /* Reduzi o tamanho da fonte */
  }
  
  .client-form-login input {
    width: 100%;
    padding: 5px; /* Reduzi o padding */
    border: 1px solid #37474f;
    border-radius: 4px;
    background-color: #263238;
    color: #e0e0e0;
    outline: none;
    font-size: 12px; /* Reduzi o tamanho da fonte */
  }
  
  .client-form-login input:focus {
    border-color: #00bcd4;
  }
  
  .client-form-login .input-error {
    border-color: #e57373;
  }
  
  .client-form-login small {
    color: #e57373;
    font-size: 10px; /* Reduzi o tamanho da fonte */
  }


.submit-button-login {
    margin-top: 80px;
    width: 100%;
    padding: 6px; /* Reduzi o padding */
    border: none;
    border-radius: 4px;
    background-color: #00bcd4;
    color: #121212;
    font-size: 12px; /* Reduzi o tamanho da fonte */
    cursor: pointer;
  }
  
  .submit-button-login:hover {
    background-color: #0097a7;
  }
  